Repository e-picsa/picsa-apps, pull requests merged in 2024-03, with the labels that each got.

#231 feat(dashboard): add monitoring pages and forms db
  apps/picsa-apps/dashboard/src/app/app.component.ts
  apps/picsa-apps/dashboard/src/app/app.routes.ts
  apps/picsa-apps/dashboard/src/app/data/navLinks.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/monitoring-forms.module.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/monitoring.service.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/form-submissions/form-submissions.component.html
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/form-submissions/form-submissions.component.scss
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/form-submissions/form-submissions.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/form-submissions/form-submissions.component.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/home/monitoring.page.html
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/home/monitoring.page.scss
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/home/monitoring.page.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/home/monitoring.page.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/view/view-monitoring-forms.component.html
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/view/view-monitoring-forms.component.scss
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/view/view-monitoring-forms.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/view/view-monitoring-forms.component.ts
  apps/picsa-server/supabase/data/README.md
  apps/picsa-server/supabase/data/monitoring_forms_rows.csv
  apps/picsa-server/supabase/data/monitoring_tool_submissions_rows.csv
  apps/picsa-server/supabase/data/storage/global/monitoring/forms/widgets.xlsx
  apps/picsa-server/supabase/migrations/20240229081336_monitoring_forms_table.sql
  apps/picsa-server/supabase/types/index.ts
  apps/picsa-tools/resources-tool/src/assets/resources/contents.json
  libs/shared/src/services/core/supabase/components/storage-file-picker/storage-file-picker.component.ts
  package.json
  yarn.lock
Labels: App: Dashboard, Tool: Resources, feature

#232 [Dashboard] Crop Probability Module
  apps/picsa-apps/dashboard/project.json
  apps/picsa-apps/dashboard/src/app/app.config.ts
  apps/picsa-apps/dashboard/src/app/app.routes.ts
  apps/picsa-apps/dashboard/src/app/data/navLinks.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/crop-information.component.html
  apps/picsa-apps/dashboard/src/app/modules/crop-information/crop-information.component.scss
  apps/picsa-apps/dashboard/src/app/modules/crop-information/crop-information.module.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/crop-information.page.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/crop-information.service.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/new_entry/new_entry.component.html
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/new_entry/new_entry.component.scss
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/new_entry/new_entry.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/new_entry/new_entry.page.ts
  apps/picsa-server/supabase/migrations/20240212164643_crop_data_table.sql
  apps/picsa-server/supabase/migrations/20240212164644_station_crop_data.sql
  apps/picsa-server/supabase/types/index.ts
  apps/picsa-tools/resources-tool/src/assets/resources/contents.json
Labels: App: Dashboard, Tool: Resources

#249 fix: video player web
  apps/picsa-tools/farmer-activity/src/app/pages/activity-details/activity-details.component.html
Labels: Tool: Farmer Activity, fix

#250 Feat(server): supabase dev db seed
  apps/picsa-server/project.json
  apps/picsa-server/scripts/seed.ts
  apps/picsa-server/supabase/data/monitoring_forms_rows.csv
  apps/picsa-server/supabase/data/storage/global/images/flags/global.svg
  apps/picsa-server/supabase/data/storage/global/images/flags/mw.svg
  apps/picsa-server/supabase/data/storage/global/images/flags/zm.svg
  apps/picsa-server/supabase/data/storage/global/monitoring/cover_images/ew-monitoring.svg
  apps/picsa-server/tsconfig.json
  apps/picsa-tools/climate-tool/src/app/services/climate-data.service.ts
  libs/environments/src/environment.ts
  libs/utils/data.ts
  package.json
  tools/workflows/processMapTiles.ts
  yarn.lock
Labels: App: Server, feature, maintenance

#253 Ft export as image
  apps/picsa-tools/option-tool/src/app/components/editor/editor.component.html
  apps/picsa-tools/option-tool/src/app/pages/home/home.component.html
  apps/picsa-tools/option-tool/src/app/pages/home/home.component.scss
  apps/picsa-tools/option-tool/src/app/pages/home/home.component.ts
  apps/picsa-tools/option-tool/src/app/services/options-tool.service.ts
  libs/shared/src/services/native/print.ts
Labels: Tool: Option
