Repository e-picsa/picsa-apps, pull requests merged in 2024-02, with the labels that each got.

#226 Refactor: form base components
  apps/picsa-apps/dashboard/src/app/modules/resources/pages/create/resource-create.component.ts
  apps/picsa-tools/crop-probability-tool/src/app/components/components.module.ts
  apps/picsa-tools/crop-probability-tool/src/app/components/crop-probability-table/crop-probability-table.component.html
  apps/picsa-tools/crop-probability-tool/src/app/components/crop-probability-table/crop-probability-table.component.ts
  apps/picsa-tools/crop-probability-tool/src/app/components/crop-select/crop-select.component.html
  apps/picsa-tools/crop-probability-tool/src/app/components/crop-select/crop-select.component.spec.ts
  apps/picsa-tools/crop-probability-tool/src/app/components/crop-select/crop-select.component.ts
  apps/picsa-tools/option-tool/src/app/components/editor/inputs/gender/gender-input.html
  apps/picsa-tools/option-tool/src/app/components/editor/inputs/gender/gender-input.ts
  apps/picsa-tools/option-tool/src/app/components/editor/inputs/investment/investment-input.ts
  apps/picsa-tools/option-tool/src/app/components/editor/inputs/performance/performance-input.ts
  apps/picsa-tools/seasonal-calendar-tool/src/app/app.module.ts
  apps/picsa-tools/seasonal-calendar-tool/src/app/components/calendar-editor/calendar-editor.component.html
  apps/picsa-tools/seasonal-calendar-tool/src/app/components/components.module.ts
  apps/picsa-tools/seasonal-calendar-tool/src/app/pages/calendar-table/calendar-table.module.ts
  apps/picsa-tools/seasonal-calendar-tool/src/app/pages/create-calendar/create-calendar.module.ts
  libs/data/crop_activity/index.ts
  libs/data/iconRegistry.ts
  libs/data/weather/index.ts
  libs/forms/components/base/README.md
  libs/forms/components/base/select-multiple.ts
  libs/forms/components/base/select.ts
  libs/forms/components/crop-activity-select/crop-activity-select.component.html
  libs/forms/components/crop-activity-select/crop-activity-select.component.scss
  libs/forms/components/crop-activity-select/crop-activity-select.component.spec.ts
  libs/forms/components/crop-activity-select/crop-activity-select.component.ts
  libs/forms/components/crop-select/crop-select.component.html
  libs/forms/components/crop-select/crop-select.component.scss
  libs/forms/components/crop-select/crop-select.component.spec.ts
  libs/forms/components/crop-select/crop-select.component.ts
  libs/forms/components/index.ts
  libs/forms/components/weather-select/weather-select.component.html
  libs/forms/components/weather-select/weather-select.component.scss
  libs/forms/components/weather-select/weather-select.component.spec.ts
  libs/forms/components/weather-select/weather-select.component.ts
  libs/forms/errorStateMatcher.ts
  libs/forms/forms.module.ts
  libs/forms/index.ts
  libs/forms/validators/index.ts
  libs/forms/validators/isUrl.ts
  libs/forms/validators/passwordMatch.ts
  libs/shared/src/modules/forms/components/crop-select/crop-select.component.html
  libs/shared/src/modules/forms/components/crop-select/crop-select.component.scss
  libs/shared/src/modules/forms/components/crop-select/crop-select.component.ts
  libs/shared/src/modules/forms/components/weather-select/weather-select.component.ts
  libs/shared/src/modules/index.ts
  libs/shared/src/services/core/supabase/dialogs/sign-in.dialog.ts
  tsconfig.base.json
Labels: Tool: Option, Tool: Crop Probability, App: Dashboard, Tool: Seasonal Calendar

#233 Feat/dashboard station forecasts
  apps/picsa-apps/dashboard/src/app/app.component.html
  apps/picsa-apps/dashboard/src/app/app.component.ts
  apps/picsa-apps/dashboard/src/app/app.routes.ts
  apps/picsa-apps/dashboard/src/app/material.module.ts
  apps/picsa-apps/dashboard/src/app/modules/climate-data/climate-data-api.service.ts
  apps/picsa-apps/dashboard/src/app/modules/climate-data/climate-data.module.ts
  apps/picsa-apps/dashboard/src/app/modules/climate-data/pages/home/climate-data-home.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/climate-data/pages/home/climate-data-home.component.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/climate-api.mapping.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/climate-api.service.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/climate.module.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/climate.service.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/components/api-status/api-status.html
  apps/picsa-apps/dashboard/src/app/modules/climate/components/api-status/api-status.scss
  apps/picsa-apps/dashboard/src/app/modules/climate/components/api-status/api-status.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/components/api-status/api-status.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/forecast/forecast.component.html
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/forecast/forecast.component.scss
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/forecast/forecast.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/forecast/forecast.component.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station-details/components/rainfall-summary/rainfall-summary.html
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station-details/components/rainfall-summary/rainfall-summary.scss
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station-details/components/rainfall-summary/rainfall-summary.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station-details/components/rainfall-summary/rainfall-summary.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station-details/station-details.component.html
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station-details/station-details.component.scss
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station-details/station-details.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station-details/station-details.component.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station/station.component.html
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station/station.component.scss
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station/station.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station/station.component.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/types/README.md
  apps/picsa-apps/dashboard/src/app/modules/climate/types/api.d.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/types/db.d.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/types/index.ts
  apps/picsa-apps/dashboard/src/app/modules/resources/pages/create/resource-create.component.ts
  apps/picsa-apps/dashboard/src/app/modules/resources/resources.service.ts
  apps/picsa-apps/dashboard/src/styles.scss
  apps/picsa-server/supabase/migrations/20240209065921_climate_forecasts_create.sql
  apps/picsa-server/supabase/migrations/20240215194323_country_storage_buckets.sql
  apps/picsa-server/supabase/types/index.ts
  libs/shared/src/features/data-table/data-table.component.html
  libs/shared/src/services/core/supabase/services/supabase-storage.service.ts
  libs/theme/src/_animations.scss
  libs/theme/src/_index.scss
Labels: Feedback Discussion, App: Dashboard

#236 link search route
  .husky/pre-commit
  apps/picsa-tools/resources-tool/src/app/pages/search/search.component.ts
  package.json
Labels: Tool: Resources

#237 farmer activity video playback resume
  apps/picsa-apps/extension-app-native/android/app/capacitor.build.gradle
  apps/picsa-apps/extension-app-native/android/app/src/main/assets/capacitor.config.json
  apps/picsa-apps/extension-app-native/android/app/src/main/assets/capacitor.plugins.json
  apps/picsa-apps/extension-app-native/android/capacitor.settings.gradle
  apps/picsa-apps/extension-app-native/capacitor.config.ts
  libs/shared/src/features/video-player/video-player.component.ts
  package.json
  yarn.lock
Labels: ready for review

#244 chore: pr auto-label minor improvements
  .github/labels.yml
  .github/workflows/gh-pr-label-paths.yml
  .github/workflows/gh-pr-label-title.yml
  apps/picsa-apps/extension-app-native/.env.local
Labels: maintenance

#245 chore: update action target
  .github/pr-labeler.config.yml
  .github/workflows/gh-pr-label-paths.yml
  .github/workflows/gh-pr-label-title.yml
Labels: maintenance

#246 Feat(dashboard): add home page
  apps/picsa-apps/dashboard/src/app/app.component.html
  apps/picsa-apps/dashboard/src/app/app.component.scss
  apps/picsa-apps/dashboard/src/app/app.component.ts
  apps/picsa-apps/dashboard/src/app/app.routes.ts
  apps/picsa-apps/dashboard/src/app/data/index.ts
  apps/picsa-apps/dashboard/src/app/data/navLinks.ts
  apps/picsa-apps/dashboard/src/app/modules/home/home.component.html
  apps/picsa-apps/dashboard/src/app/modules/home/home.component.scss
  apps/picsa-apps/dashboard/src/app/modules/home/home.component.ts
Labels: App: Dashboard, feature

#247 Feat(dashboard): deployments system UI and DB
  .github/labels.yml
  apps/picsa-apps/dashboard/src/app/app.component.html
  apps/picsa-apps/dashboard/src/app/app.component.ts
  apps/picsa-apps/dashboard/src/app/app.routes.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/types/db.d.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/deployment-select/deployment-select.component.html
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/deployment-select/deployment-select.component.scss
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/deployment-select/deployment-select.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/deployment-select/deployment-select.component.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/index.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/deployment.module.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/deployment.service.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/pages/list/deployment-list.component.html
  apps/picsa-apps/dashboard/src/app/modules/deployment/pages/list/deployment-list.component.scss
  apps/picsa-apps/dashboard/src/app/modules/deployment/pages/list/deployment-list.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/pages/list/deployment-list.component.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/types/index.ts
  apps/picsa-apps/dashboard/src/app/modules/resources/pages/create/resource-create.component.ts
  apps/picsa-apps/dashboard/src/app/modules/resources/resources.service.ts
  apps/picsa-apps/dashboard/src/app/modules/resources/types/index.ts
  apps/picsa-server/supabase/data/deployments_rows.csv
  apps/picsa-server/supabase/migrations/20240228005631_storage_path_column.sql
  apps/picsa-server/supabase/migrations/20240228005632_deployments_table_add.sql
  apps/picsa-server/supabase/types/index.ts
  libs/shared/src/features/data-table/data-table.component.ts
  libs/shared/src/services/core/supabase/index.ts
  libs/shared/src/services/core/supabase/pipes/index.ts
  libs/shared/src/services/core/supabase/pipes/storagePath.pipe.ts
Labels: Feedback Discussion, App: Dashboard, feature

#243 feat: track custom analytics events
  apps/picsa-apps/extension-app/src/app/app.component.ts
  apps/picsa-tools/farmer-activity/src/app/pages/activity-details/activity-details.component.html
  apps/picsa-tools/resources-tool/src/app/components/resource-item/file/file.ts
  apps/picsa-tools/resources-tool/src/app/components/resource-item/video.ts
  apps/picsa-tools/resources-tool/src/app/services/resources-tool.service.ts
  libs/shared/src/features/video-player/video-player.component.ts
  libs/shared/src/services/core/analytics.service.ts
  yarn.lock
Labels: ready for review, Tool: Resources, Tool: Farmer Activity, feature
