Repository e-picsa/picsa-apps, pull requests merged in 2024-01, with the labels that each got.

#213 fix: angular deps
  libs/theme/src/themes/_index.scss
  package.json
  yarn.lock
Labels: fix

#211 Ft server translations
  apps/picsa-apps/dashboard/src/app/app.component.ts
  apps/picsa-apps/dashboard/src/app/app.routes.ts
  apps/picsa-apps/dashboard/src/app/material.module.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/edit/translations-edit.component.html
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/edit/translations-edit.component.scss
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/edit/translations-edit.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/edit/translations-edit.component.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/home/translations.page.html
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/home/translations.page.scss
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/home/translations.page.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/home/translations.page.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/new/new-translations.component.html
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/new/new-translations.component.scss
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/new/new-translations.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/new/new-translations.component.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/translations.module.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/translations.service.ts
  apps/picsa-server/supabase/data/translations_rows.csv
  apps/picsa-server/supabase/migrations/20240102153452_translations_table_create.sql
  apps/picsa-server/supabase/types/index.ts
  apps/picsa-tools/resources-tool/src/assets/resources/contents.json
  libs/shared/src/services/core/supabase/components/storage-file-picker/storage-file-picker.component.ts
  yarn.lock
Labels: ready for review, App: Dashboard

#214 Feat(dashboard); climate summaries
  apps/picsa-apps/dashboard/src/app/app.component.html
  apps/picsa-apps/dashboard/src/app/app.component.ts
  apps/picsa-apps/dashboard/src/app/app.routes.ts
  apps/picsa-apps/dashboard/src/app/modules/climate-data/climate-data-api.service.ts
  apps/picsa-apps/dashboard/src/app/modules/climate-data/climate-data.service.ts
  apps/picsa-apps/dashboard/src/app/modules/climate-data/pages/home/climate-data-home.component.html
  apps/picsa-apps/dashboard/src/app/modules/climate-data/pages/home/climate-data-home.component.ts
  apps/picsa-apps/dashboard/src/app/modules/climate-data/pages/station/components/rainfall-summary/rainfall-summary.html
  apps/picsa-apps/dashboard/src/app/modules/climate-data/pages/station/components/rainfall-summary/rainfall-summary.scss
  apps/picsa-apps/dashboard/src/app/modules/climate-data/pages/station/components/rainfall-summary/rainfall-summary.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/climate-data/pages/station/components/rainfall-summary/rainfall-summary.ts
  apps/picsa-apps/dashboard/src/app/modules/climate-data/pages/station/station-page.component.html
  apps/picsa-apps/dashboard/src/app/modules/climate-data/pages/station/station-page.component.ts
  apps/picsa-server/README.md
  apps/picsa-server/supabase/migrations/20240112001154_climate_products_create.sql
  apps/picsa-server/supabase/seed.sql
  apps/picsa-server/supabase/types/index.ts
  libs/shared/src/features/data-table/data-table.component.html
  libs/shared/src/features/data-table/data-table.component.scss
  libs/shared/src/features/data-table/data-table.component.spec.ts
  libs/shared/src/features/data-table/data-table.component.ts
  libs/shared/src/features/data-table/index.ts
  libs/shared/src/features/dialog/dialog.module.ts
  libs/shared/src/features/index.ts
  libs/shared/src/features/loading/index.ts
  libs/shared/src/features/loading/loading.scss
  libs/shared/src/features/loading/loading.ts
  libs/shared/src/features/map/map.ts
  libs/theme/src/_fonts.scss
  libs/theme/src/fonts/MaterialIcons-Regular.woff2
  libs/theme/src/fonts/Readme.md
  libs/utils/angular.ts
  package.json
  yarn.lock
Labels: App: Dashboard

#216 Feat(dashboard) - production deployment
  .github/workflows/web-release-dashboard.yml
  .gitignore
  apps/picsa-apps/dashboard/project.json
  apps/picsa-apps/dashboard/vercel.json
  apps/picsa-server/TODO.md
  apps/picsa-server/supabase/.gitignore
  apps/picsa-server/supabase/config.toml
  apps/picsa-server/supabase/migrations/20231010030939_remote_schema.sql
  libs/environments/src/environment.prod.ts
  yarn.lock
Labels: Feedback Discussion, App: Dashboard

#203 feat(seasonal-calendar): add translations
  apps/picsa-tools/seasonal-calendar-tool/project.json
  apps/picsa-tools/seasonal-calendar-tool/src/app/components/activities-editor-dialog/activities-editor-dialog.component.html
  apps/picsa-tools/seasonal-calendar-tool/src/app/components/crop-dialog-component/crop-dialog-component.component.html
  apps/picsa-tools/seasonal-calendar-tool/src/app/components/field-error-display/field-error-display.component.html
  apps/picsa-tools/seasonal-calendar-tool/src/app/components/month-editor-dialog/crop-dialog-component.component.html
  apps/picsa-tools/seasonal-calendar-tool/src/app/pages/calender-table/calendar-table.component.html
  apps/picsa-tools/seasonal-calendar-tool/src/app/pages/calender-table/calendar-table.component.ts
  apps/picsa-tools/seasonal-calendar-tool/src/app/pages/create-calendar/create-calendar.component.html
  apps/picsa-tools/seasonal-calendar-tool/src/app/pages/create-calendar/create-calendar.component.ts
  apps/picsa-tools/seasonal-calendar-tool/src/app/pages/home/home.component.html
  apps/picsa-tools/seasonal-calendar-tool/src/app/pages/home/home.module.ts
  libs/i18n/assets/debug.json
  libs/i18n/assets/en.json
  libs/i18n/assets/mw_ny.json
  libs/i18n/assets/sw.json
  libs/i18n/assets/tg.json
  libs/i18n/assets/zm_ny.json
  libs/i18n/src/generate.ts
  libs/i18n/src/hardcoded/index.ts
  libs/i18n/templates/_template.csv
  libs/i18n/templates/_template.json
  libs/utils/angular.ts
  package.json
  yarn.lock
Labels: ready for review, Tool: Seasonal Calendar, feature

#217 chore: add common day and month names
  apps/picsa-tools/budget-tool/src/app/pages/create/budget-create.page.ts
  apps/picsa-tools/budget-tool/src/app/store/budget.store.ts
  apps/picsa-tools/budget-tool/src/app/store/templates.ts
  apps/picsa-tools/climate-tool/src/app/services/climate-chart.service.ts
  libs/data/days.ts
  libs/data/index.ts
  libs/data/months.ts
  libs/i18n/assets/debug.json
  libs/i18n/assets/en.json
  libs/i18n/assets/mw_ny.json
  libs/i18n/assets/sw.json
  libs/i18n/assets/tg.json
  libs/i18n/assets/zm_ny.json
  libs/i18n/src/hardcoded/budget.ts
  libs/i18n/src/hardcoded/common.ts
  libs/i18n/src/hardcoded/data.ts
  libs/i18n/src/hardcoded/index.ts
  libs/i18n/templates/_template.csv
  libs/i18n/templates/_template.json
  libs/shared/src/modules/translate/translate.service.ts
Labels: maintenance

#221 fix: supabase db sync code
  libs/shared/src/services/core/db_v2/db-sync.service.ts
Labels: fix

#224 feat: icon and data system improvements
  apps/picsa-apps/extension-app/project.json
  apps/picsa-apps/extension-app/src/app/pages/home/home.page.scss
  apps/picsa-apps/extension-app/src/assets/svgs/farmer.svg
  apps/picsa-apps/extension-app/src/assets/svgs/farmer_activity.svg
  apps/picsa-tools/option-tool/project.json
  apps/picsa-tools/option-tool/src/app/components/editor/editor.component.ts
  apps/picsa-tools/option-tool/src/app/components/material.module.ts
  apps/picsa-tools/option-tool/src/app/pages/home/home.component.html
  apps/picsa-tools/seasonal-calendar-tool/project.json
  libs/data/README.md
  libs/data/crop_activity/index.ts
  libs/data/crop_activity/svgs/fertiliser_apply.svg
  libs/data/crop_activity/svgs/land_preparation.svg
  libs/data/crop_activity/svgs/sowing.svg
  libs/data/crop_activity/svgs/watering.svg
  libs/data/crop_activity/svgs/weeding.svg
  libs/data/crops/index.ts
  libs/data/days/index.ts
  libs/data/iconRegistry.ts
  libs/data/index.ts
  libs/data/models.ts
  libs/data/months/index.ts
  libs/data/weather/index.ts
  libs/data/weather/svgs/README.md
  libs/data/weather/svgs/clear.svg
  libs/data/weather/svgs/cloudy.svg
  libs/data/weather/svgs/rain_high.svg
  libs/data/weather/svgs/rain_high_label.svg
  libs/data/weather/svgs/rain_low.svg
  libs/data/weather/svgs/rain_low_label.svg
  libs/data/weather/svgs/rain_medium.svg
  libs/data/weather/svgs/rain_medium_label.svg
Labels: feature

#215 feat(budget): list page budget summaries
  apps/picsa-tools/budget-tool/src/app/components/budget-summary/budget-summary.component.html
  apps/picsa-tools/budget-tool/src/app/components/budget-summary/budget-summary.component.scss
  apps/picsa-tools/budget-tool/src/app/components/budget-summary/budget-summary.component.spec.ts
  apps/picsa-tools/budget-tool/src/app/components/budget-summary/budget-summary.component.ts
  apps/picsa-tools/budget-tool/src/app/components/budget-tool.components.ts
  apps/picsa-tools/budget-tool/src/app/components/card/card-new/card-new.ts
  apps/picsa-tools/budget-tool/src/app/components/list-item/budget-list-item.html
  apps/picsa-tools/budget-tool/src/app/components/list-item/budget-list-item.scss
  apps/picsa-tools/budget-tool/src/app/material.module.ts
  apps/picsa-tools/budget-tool/src/app/schema/cards/schema_v1.ts
  apps/picsa-tools/budget-tool/src/app/store/templates.ts
  apps/picsa-tools/budget-tool/src/assets/budget-cards/cash-balance.svg
  apps/picsa-tools/budget-tool/src/assets/svgs/cash_balance.svg
  apps/picsa-tools/budget-tool/src/assets/svgs/family.svg
  apps/picsa-tools/budget-tool/src/assets/svgs/inputs.svg
  apps/picsa-tools/budget-tool/src/assets/svgs/outputs.svg
  package.json
  yarn.lock
Labels: ready for review, Tool: Budget

#223 feat(resources): client-side search
  apps/picsa-tools/resources-tool/src/app/app-routing.module.ts
  apps/picsa-tools/resources-tool/src/app/components/resource-item/file/file.ts
  apps/picsa-tools/resources-tool/src/app/components/resource-item/link/link.ts
  apps/picsa-tools/resources-tool/src/app/material.module.ts
  apps/picsa-tools/resources-tool/src/app/pages/collection/collection.component.ts
  apps/picsa-tools/resources-tool/src/app/pages/home/home.component.html
  apps/picsa-tools/resources-tool/src/app/pages/home/home.component.scss
  apps/picsa-tools/resources-tool/src/app/pages/search/search.component.html
  apps/picsa-tools/resources-tool/src/app/pages/search/search.component.scss
  apps/picsa-tools/resources-tool/src/app/pages/search/search.component.spec.ts
  apps/picsa-tools/resources-tool/src/app/pages/search/search.component.ts
  package.json
  yarn.lock
Labels: Tool: Resources, feature
