Repository e-picsa/picsa-apps, pull requests merged in 2024-06, with the labels that each got.

#284 feat: optimise svg drawing
  libs/shared/src/features/drawing/drawing.component.html
  libs/shared/src/features/drawing/drawing.component.ts
Labels: feature

#281 Feat(climate-tool): Forecast page placeholder
  apps/picsa-tools/climate-tool/src/app/app-routing.module.ts
  apps/picsa-tools/climate-tool/src/app/pages/forecast/forecast.page.html
  apps/picsa-tools/climate-tool/src/app/pages/forecast/forecast.page.scss
  apps/picsa-tools/climate-tool/src/app/pages/forecast/forecast.page.ts
  apps/picsa-tools/manual-tool/src/app/components/components.module.ts
  libs/shared/src/features/index.ts
  libs/shared/src/features/pdf-viewer/index.ts
  libs/shared/src/features/pdf-viewer/pdf-viewer.component.html
  libs/shared/src/features/pdf-viewer/pdf-viewer.component.scss
  libs/shared/src/features/pdf-viewer/pdf-viewer.component.spec.ts
  libs/shared/src/features/pdf-viewer/pdf-viewer.component.ts
Labels: Tool: Climate, Tool: Manual, Tool: Resources, feature

#280 Feat: Resource share functionality
  apps/picsa-apps/extension-app-native/android/app/capacitor.build.gradle
  apps/picsa-apps/extension-app-native/android/capacitor.settings.gradle
  apps/picsa-apps/extension-app-native/capacitor.config.ts
  apps/picsa-tools/resources-tool/src/app/components/components.module.ts
  apps/picsa-tools/resources-tool/src/app/components/resource-item/file/file.html
  apps/picsa-tools/resources-tool/src/app/components/resource-item/file/file.scss
  apps/picsa-tools/resources-tool/src/app/components/resource-item/link/link.html
  apps/picsa-tools/resources-tool/src/app/components/resource-item/link/link.scss
  apps/picsa-tools/resources-tool/src/app/components/resource-item/link/link.ts
  apps/picsa-tools/resources-tool/src/app/components/resource-share/resource-share.component.html
  apps/picsa-tools/resources-tool/src/app/components/resource-share/resource-share.component.scss
  apps/picsa-tools/resources-tool/src/app/components/resource-share/resource-share.component.spec.ts
  apps/picsa-tools/resources-tool/src/app/components/resource-share/resource-share.component.ts
  apps/picsa-tools/resources-tool/src/app/pages/collection/collection.component.html
  apps/picsa-tools/resources-tool/src/app/services/resources-tool.service.ts
  libs/shared/src/services/native/storage-service.ts
  package.json
  yarn.lock
Labels: Tool: Resources, feature

#282 feat(farmer-activity): Add Support for photo upload
  apps/picsa-apps/extension-app-native/.env.local
  apps/picsa-apps/extension-app-native/.gitignore
  apps/picsa-apps/extension-app-native/android/app/capacitor.build.gradle
  apps/picsa-apps/extension-app-native/android/build.gradle
  apps/picsa-apps/extension-app-native/android/capacitor.settings.gradle
  apps/picsa-apps/extension-app-native/android/gradle/wrapper/gradle-wrapper.properties
  apps/picsa-apps/extension-app-native/android/variables.gradle
  apps/picsa-apps/extension-app-native/capacitor.config.ts
  apps/picsa-tools/farmer-activity/src/app/components/components.module.ts
  apps/picsa-tools/farmer-activity/src/app/components/material.module.ts
  apps/picsa-tools/farmer-activity/src/app/components/photo-input/photo-input.component.html
  apps/picsa-tools/farmer-activity/src/app/components/photo-input/photo-input.component.scss
  apps/picsa-tools/farmer-activity/src/app/components/photo-input/photo-input.component.spec.ts
  apps/picsa-tools/farmer-activity/src/app/components/photo-input/photo-input.component.ts
  apps/picsa-tools/farmer-activity/src/app/components/photo-input/photo-input.service.ts
  apps/picsa-tools/farmer-activity/src/app/pages/activity-details/activity-details.component.html
  apps/picsa-tools/resources-tool/src/assets/resources/contents.json
  libs/shared/src/features/drawing/index.ts
  libs/shared/src/features/pdf-viewer/index.ts
  libs/shared/src/services/core/crashlytics.service.ts
  package.json
  yarn.lock
Labels: Tool: Farmer Activity, feature
