Repository e-picsa/picsa-apps, pull requests merged in 2024-07, with the labels that each got.

#293 Feat station select
  apps/picsa-tools/climate-tool/src/app/pages/site-select/site-select.page.ts
  libs/shared/src/features/map/map.scss
  libs/shared/src/features/map/map.ts
  libs/theme/README.md
  libs/theme/src/_variables.scss
  libs/theme/src/themes/picsa-mw.scss
  package.json
  yarn.lock
Labels: Tool: Climate

#299 chore: dashboard api updates
  apps/picsa-apps/dashboard/src/app/app.config.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/climate-api.mapping.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/climate.service.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/components/api-status/api-status.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/forecast/forecast.component.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station-details/components/rainfall-summary/rainfall-summary.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station/station.component.html
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station/station.component.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/types/api.d.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/types/db.d.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/variety-details.component.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety/variety.component.ts
  apps/picsa-apps/dashboard/src/app/modules/error-handler.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/monitoring.service.ts
  apps/picsa-apps/dashboard/src/app/modules/profile/components/sign-in-dialog/sign-in-dialog.component.ts
  apps/picsa-apps/dashboard/src/app/modules/resources/pages/files/edit/resource-file-edit.component.ts
  apps/picsa-apps/dashboard/src/app/modules/resources/resources.service.ts
  libs/shared/src/services/core/notification.service.ts
  libs/shared/src/services/core/supabase/components/upload/supabase-upload.component.ts
  libs/shared/src/services/core/supabase/services/supabase-storage.service.ts
Labels: App: Dashboard, maintenance

#300 feat(dashboard): translation progress and edit
  apps/picsa-apps/dashboard/src/app/material.module.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/edit/translations-edit.component.html
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/edit/translations-edit.component.scss
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/edit/translations-edit.component.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/home/translations.page.html
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/home/translations.page.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/translations-import.component.html
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/translations-import.component.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/translations.service.ts
  libs/data/deployments/locales.ts
Labels: App: Dashboard, feature

#294 Ft export image
  apps/picsa-tools/seasonal-calendar-tool/src/app/pages/calendar-table/calendar-table.component.html
  apps/picsa-tools/seasonal-calendar-tool/src/app/pages/calendar-table/calendar-table.component.scss
  apps/picsa-tools/seasonal-calendar-tool/src/app/pages/calendar-table/calendar-table.component.ts
  apps/picsa-tools/seasonal-calendar-tool/src/app/services/calendar.data.service.ts
Labels: Tool: Seasonal Calendar

#301 feat(dashboard): monitoring form preview
  apps/picsa-apps/dashboard/src/app/app.routes.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/monitoring.service.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/update/update-monitoring-forms.component.html
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/update/update-monitoring-forms.component.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/view/view-monitoring-forms.component.html
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/view/view-monitoring-forms.component.ts
  apps/picsa-server/supabase/data/monitoring_forms_rows.csv
  apps/picsa-server/supabase/data/storage/mw/monitoring/forms/aQCDPoHBUkgJRWQgswksoo.xlsx
  libs/shared/src/services/core/supabase/components/storage-file-picker/storage-file-picker.component.html
  libs/shared/src/services/core/supabase/components/storage-file-picker/storage-file-picker.component.scss
  libs/shared/src/services/core/supabase/components/storage-file-picker/storage-file-picker.component.ts
  yarn.lock
Labels: App: Dashboard, Tool: Resources, feature

#304 chore(dashboard): climate ui updates
  apps/picsa-apps/dashboard/project.json
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station-details/station-details.component.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station/station.component.html
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station/station.component.ts
  apps/picsa-apps/dashboard/src/favicon.ico
  apps/picsa-apps/dashboard/src/favicon.svg
  apps/picsa-apps/dashboard/src/index.html
  apps/picsa-server/supabase/data/climate_products_rows.csv
  apps/picsa-server/supabase/data/climate_stations_rows.csv
Labels: App: Dashboard, maintenance

#292 ft(farmer-activity) Support for photo storage
  apps/picsa-apps/extension-app-native/android/build.gradle
  apps/picsa-apps/extension-app/src/app/routes/app-routes.ts
  apps/picsa-tools/farmer-content/src/app/pages/module-home/module-home.component.html
  apps/picsa-tools/farmer-content/src/app/pages/module-home/module-home.component.ts
  apps/picsa-tools/option-tool/src/app/schemas/schema_v4.ts
  libs/shared/src/features/index.ts
  libs/shared/src/features/photo/components/index.ts
  libs/shared/src/features/photo/components/photo-debug/photo-debug.component.html
  libs/shared/src/features/photo/components/photo-debug/photo-debug.component.scss
  libs/shared/src/features/photo/components/photo-debug/photo-debug.component.spec.ts
  libs/shared/src/features/photo/components/photo-debug/photo-debug.component.ts
  libs/shared/src/features/photo/components/photo-input/photo-input.component.html
  libs/shared/src/features/photo/components/photo-input/photo-input.component.scss
  libs/shared/src/features/photo/components/photo-input/photo-input.component.ts
  libs/shared/src/features/photo/components/photo-list/photo-list.component.html
  libs/shared/src/features/photo/components/photo-list/photo-list.component.scss
  libs/shared/src/features/photo/components/photo-list/photo-list.component.spec.ts
  libs/shared/src/features/photo/components/photo-list/photo-list.component.ts
  libs/shared/src/features/photo/components/photo-view/photo-view.component.html
  libs/shared/src/features/photo/components/photo-view/photo-view.component.scss
  libs/shared/src/features/photo/components/photo-view/photo-view.component.spec.ts
  libs/shared/src/features/photo/components/photo-view/photo-view.component.ts
  libs/shared/src/features/photo/index.ts
  libs/shared/src/features/photo/photo.service.ts
  libs/shared/src/features/photo/schema/index.ts
  libs/shared/src/features/photo/schema/schema_v0.ts
  libs/shared/src/services/core/db_v2/db-attachment.service.ts
  libs/shared/src/services/core/db_v2/index.ts
  tsconfig.base.json
Labels: Tool: Option, App: Farmer

#310 fix(dashboard): uppy styles, disable anonymous login, update translations
  apps/picsa-apps/dashboard/project.json
  apps/picsa-apps/dashboard/src/app/modules/profile/components/profile-menu/profile-menu.component.ts
  apps/picsa-apps/extension-app-native/android/app/build.gradle
  libs/environments/src/version.ts
  libs/i18n/assets/debug.json
  libs/i18n/assets/global_en.json
  libs/i18n/assets/ke_sw.json
  libs/i18n/assets/mw_ny.json
  libs/i18n/assets/tj_tg.json
  libs/i18n/assets/zm_ny.json
  libs/i18n/templates/_template.csv
  libs/i18n/templates/_template.json
  package.json
Labels: App: Dashboard, fix

#307 feat: Add photo dialog viewer to photo view component
  libs/shared/src/features/photo/components/photo-view/photo-view.component.html
  libs/shared/src/features/photo/components/photo-view/photo-view.component.scss
  libs/shared/src/features/photo/components/photo-view/photo-view.component.ts
Labels: Tool: Farmer Activity, feature
