Repository e-picsa/picsa-apps, pull requests merged in 2024-05, with the labels that each got.

#266 feat(dashboard): new form create and edit
  apps/picsa-apps/dashboard/src/app/modules/monitoring/monitoring-forms.module.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/monitoring.service.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/home/monitoring.page.html
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/home/monitoring.page.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/update/update-monitoring-forms.component.html
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/update/update-monitoring-forms.component.scss
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/update/update-monitoring-forms.component.ts
  libs/shared/src/services/core/notification.service.ts
  libs/shared/src/services/core/supabase/components/upload/supabase-upload.component.ts
  package.json
  yarn.lock
Labels: App: Dashboard, feature

#267 Refactor: deployment data and migrations
  apps/picsa-apps/extension-app/src/app/app.component.html
  apps/picsa-apps/extension-app/src/app/app.component.scss
  apps/picsa-apps/extension-app/src/app/app.component.ts
  apps/picsa-apps/extension-app/src/app/app.module.ts
  apps/picsa-apps/extension-app/src/app/pages/home/components/extension/extension-home.component.html
  apps/picsa-apps/extension-app/src/app/pages/home/components/extension/extension-home.component.scss
  apps/picsa-apps/extension-app/src/app/pages/home/components/extension/extension-home.component.spec.ts
  apps/picsa-apps/extension-app/src/app/pages/home/components/extension/extension-home.component.ts
  apps/picsa-apps/extension-app/src/app/pages/home/components/extension/extension-home.tour.ts
  apps/picsa-apps/extension-app/src/app/pages/home/components/welcome/welcome.component.html
  apps/picsa-apps/extension-app/src/app/pages/home/components/welcome/welcome.component.scss
  apps/picsa-apps/extension-app/src/app/pages/home/components/welcome/welcome.component.spec.ts
  apps/picsa-apps/extension-app/src/app/pages/home/components/welcome/welcome.component.ts
  apps/picsa-apps/extension-app/src/app/pages/home/home.module.ts
  apps/picsa-apps/extension-app/src/app/pages/home/home.page.html
  apps/picsa-apps/extension-app/src/app/pages/home/home.page.scss
  apps/picsa-apps/extension-app/src/app/pages/home/home.page.ts
  apps/picsa-tools/budget-tool/src/app/store/budget.store.ts
  apps/picsa-tools/climate-tool/src/app/pages/site-select/site-select.page.ts
  apps/picsa-tools/farmer-activity/src/app/pages/activity-details/activity-details.component.ts
  apps/picsa-tools/manual-tool/src/app/pages/home/home.component.html
  apps/picsa-tools/manual-tool/src/app/pages/home/home.component.ts
  apps/picsa-tools/monitoring-tool/src/app/pages/home/home.component.ts
  apps/picsa-tools/resources-tool/src/app/services/resources-tool.service.ts
  libs/components/src/components/configuration-select/configuration-select-dialog.html
  libs/components/src/components/configuration-select/configuration-select-dialog.ts
  libs/components/src/components/configuration-select/configuration-select.ts
  libs/configuration/src/configuration.spec.ts
  libs/configuration/src/configurations.ts
  libs/configuration/src/configurations/default.ts
  libs/configuration/src/configurations/global.ts
  libs/configuration/src/configurations/mw.ts
  libs/configuration/src/configurations/tj.ts
  libs/configuration/src/configurations/zm.ts
  libs/configuration/src/index.ts
  libs/configuration/src/models.ts
  libs/configuration/src/provider.ts
  libs/configuration/src/types.ts
  libs/data/deployments/index.ts
  libs/data/index.ts
  libs/environments/src/environment.prod.ts
  libs/migrations/README.md
  libs/migrations/index.ts
  libs/migrations/migrations.service.ts
  libs/migrations/migrations/20240504-test-migration-error.ts
  libs/migrations/migrations/20240505-test-migration-success.ts
  libs/migrations/migrations/index.ts
  libs/models/src/models.ts
  libs/shared/src/modules/translate/translate.service.ts
  libs/theme/src/themes/_index.scss
  libs/theme/src/themes/picsa-default.scss
  libs/theme/src/themes/picsa-walker.scss
  tsconfig.base.json
Labels: no-autolabel, maintenance

#273 Feat: farmer content layout
  .github/workflows/gh-pr-label-title.yml
  apps/picsa-apps/extension-app/src/app/app.component.html
  apps/picsa-apps/extension-app/src/app/app.component.scss
  apps/picsa-apps/extension-app/src/app/app.module.ts
  apps/picsa-apps/extension-app/src/app/components/layout.html
  apps/picsa-apps/extension-app/src/app/components/layout.scss
  apps/picsa-apps/extension-app/src/app/components/layout.ts
  apps/picsa-tools/climate-tool/src/app/data/definitions/default.ts
  apps/picsa-tools/farmer-content/src/app/app.routes.ts
  apps/picsa-tools/farmer-content/src/app/pages/home/farmer-home.component.html
  apps/picsa-tools/farmer-content/src/app/pages/home/farmer-home.component.scss
  apps/picsa-tools/farmer-content/src/app/pages/home/farmer-home.component.spec.ts
  apps/picsa-tools/farmer-content/src/app/pages/home/farmer-home.component.ts
  apps/picsa-tools/farmer-content/src/app/pages/module-home/module-home.component.html
  apps/picsa-tools/farmer-content/src/app/pages/module-home/module-home.component.scss
  apps/picsa-tools/farmer-content/src/app/pages/module-home/module-home.component.spec.ts
  apps/picsa-tools/farmer-content/src/app/pages/module-home/module-home.component.ts
  libs/components/src/components/picsa-header.component.scss
  libs/components/src/components/picsa-header.component.ts
  libs/configuration/src/components/configuration-select/configuration-select.component.ts
  libs/data/farmer_content/index.ts
  libs/i18n/assets/debug.json
  libs/i18n/assets/global_en.json
  libs/i18n/assets/ke_sw.json
  libs/i18n/assets/mw_ny.json
  libs/i18n/assets/tj_tg.json
  libs/i18n/assets/zm_ny.json
  libs/i18n/templates/_template.csv
  libs/i18n/templates/_template.json
  libs/shared/src/directives/index.ts
  libs/shared/src/directives/scroll-restore.ts
  libs/theme/src/_overrides.scss
  package.json
  tsconfig.base.json
  yarn.lock
Labels: Tool: Climate, feature, App: Farmer

#274 chore: update dashboard theme
  apps/picsa-apps/dashboard/src/index.html
  libs/theme/src/themes/_index.scss
  libs/theme/src/themes/picsa-dashboard.scss
Labels: App: Dashboard

#269 Ft (options tool) enterprise Select
  apps/picsa-tools/option-tool/src/app/app-routing.module.ts
  apps/picsa-tools/option-tool/src/app/components/editor/editor.component.ts
  apps/picsa-tools/option-tool/src/app/data/enterprises.ts
  apps/picsa-tools/option-tool/src/app/data/index.ts
  apps/picsa-tools/option-tool/src/app/data/option-steps.ts
  apps/picsa-tools/option-tool/src/app/pages/enterprise-select/enterprise-select.component.html
  apps/picsa-tools/option-tool/src/app/pages/enterprise-select/enterprise-select.component.scss
  apps/picsa-tools/option-tool/src/app/pages/enterprise-select/enterprise-select.component.spec.ts
  apps/picsa-tools/option-tool/src/app/pages/enterprise-select/enterprise-select.component.ts
  apps/picsa-tools/option-tool/src/app/pages/enterprise-select/enterprise-select.module.ts
  apps/picsa-tools/option-tool/src/app/pages/home/home.component.html
  apps/picsa-tools/option-tool/src/app/pages/home/home.component.ts
  apps/picsa-tools/option-tool/src/app/schemas/index.ts
  apps/picsa-tools/option-tool/src/app/schemas/schema_v4.ts
  apps/picsa-tools/option-tool/src/app/services/options-tool.service.ts
  apps/picsa-tools/option-tool/src/assets/svgs/crop-enterprise.svg
  apps/picsa-tools/option-tool/src/assets/svgs/livelihood-enterprise.svg
  apps/picsa-tools/option-tool/src/assets/svgs/livestock-enterprise.svg
  libs/configuration/src/components/configuration-select/configuration-select.component.scss
  libs/theme/src/_overrides.scss
Labels: ready for review, Tool: Option

#275 chore: pr label action fix
  .github/workflows/gh-pr-label-title.yml
Labels: maintenance

#278 fix: rainfall summary refresh
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station-details/components/rainfall-summary/rainfall-summary.html
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station-details/components/rainfall-summary/rainfall-summary.ts
Labels: App: Dashboard, fix

#279 feat(dashboard): translations import and migrate
  apps/picsa-apps/dashboard/src/app/data/navLinks.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/deployment.service.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/edit/translations-edit.component.html
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/edit/translations-edit.component.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/home/translations.page.html
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/home/translations.page.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/translations-import.component.html
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/translations-import.component.scss
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/translations-import.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/translations-import.component.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/new/new-translations.component.html
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/new/new-translations.component.scss
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/new/new-translations.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/new/new-translations.component.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/translations.module.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/translations.service.ts
  apps/picsa-server/supabase/data/translations_rows.csv
  apps/picsa-server/supabase/migrations/20240517095457_translations_table_columns.sql
  apps/picsa-server/supabase/types/index.ts
  libs/configuration/src/provider.ts
  libs/data/deployments/index.ts
  libs/i18n/assets/debug.json
  libs/i18n/assets/global_en.json
  libs/i18n/assets/ke_sw.json
  libs/i18n/assets/mw_ny.json
  libs/i18n/assets/tj_tg.json
  libs/i18n/assets/zm_ny.json
  libs/i18n/src/generate.ts
  libs/i18n/templates/_template.csv
  libs/i18n/templates/_template.json
  libs/shared/src/features/data-table/data-table.component.scss
  libs/shared/src/features/data-table/data-table.component.ts
  libs/theme/src/themes/_mixins.scss
  libs/theme/src/themes/picsa-dashboard.scss
  libs/theme/src/themes/picsa-default.scss
  libs/theme/src/themes/picsa-mw.scss
  libs/theme/src/themes/picsa-tj.scss
  libs/theme/src/themes/picsa-walker.scss
  libs/theme/src/themes/picsa-zm.scss
Labels: App: Dashboard, feature
