Repository e-picsa/picsa-apps, pull requests merged in 2024-04, with the labels that each got.

#258 Feat(dashboard) role-based user permissions
  .prettierignore
  apps/picsa-apps/dashboard/src/app/app.component.html
  apps/picsa-apps/dashboard/src/app/app.component.ts
  apps/picsa-apps/dashboard/src/app/app.routes.ts
  apps/picsa-apps/dashboard/src/app/data/navLinks.ts
  apps/picsa-apps/dashboard/src/app/modules/auth/directives/authRoleRequired.directive.ts
  apps/picsa-apps/dashboard/src/app/modules/auth/directives/index.ts
  apps/picsa-apps/dashboard/src/app/modules/auth/index.ts
  apps/picsa-apps/dashboard/src/app/modules/auth/services/auth.service.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/deployment-item/deployment-item.component.html
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/deployment-item/deployment-item.component.scss
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/deployment-item/deployment-item.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/deployment-item/deployment-item.component.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/deployment-select/deployment-select.component.html
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/deployment-select/deployment-select.component.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/deployment.service.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/pages/list/deployment-list.component.html
  apps/picsa-apps/dashboard/src/app/modules/home/home.component.html
  apps/picsa-apps/dashboard/src/app/modules/home/home.component.ts
  apps/picsa-apps/dashboard/src/app/modules/profile/components/profile-menu/profile-menu.component.html
  apps/picsa-apps/dashboard/src/app/modules/profile/components/profile-menu/profile-menu.component.scss
  apps/picsa-apps/dashboard/src/app/modules/profile/components/profile-menu/profile-menu.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/profile/components/profile-menu/profile-menu.component.ts
  apps/picsa-apps/dashboard/src/app/modules/profile/components/sign-in-dialog/sign-in-dialog.component.html
  apps/picsa-apps/dashboard/src/app/modules/profile/components/sign-in-dialog/sign-in-dialog.component.scss
  apps/picsa-apps/dashboard/src/app/modules/profile/components/sign-in-dialog/sign-in-dialog.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/profile/components/sign-in-dialog/sign-in-dialog.component.ts
  apps/picsa-apps/dashboard/src/app/modules/profile/pages/user-profile/user-profile.component.html
  apps/picsa-apps/dashboard/src/app/modules/profile/pages/user-profile/user-profile.component.scss
  apps/picsa-apps/dashboard/src/app/modules/profile/pages/user-profile/user-profile.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/profile/pages/user-profile/user-profile.component.ts
  apps/picsa-apps/dashboard/src/app/modules/profile/profile.module.ts
  apps/picsa-apps/dashboard/src/app/modules/resources/resources.service.ts
  apps/picsa-server/supabase/config.toml
  apps/picsa-server/supabase/migrations/20240328221835_user_roles_create.sql
  apps/picsa-server/supabase/types/index.ts
  documentation/Auth Roles.md
  libs/shared/src/services/core/supabase/dialogs/sign-in.dialog.ts
  libs/shared/src/services/core/supabase/services/supabase-auth.service.ts
  libs/shared/src/services/core/supabase/services/supabase-storage.service.ts
  libs/shared/src/services/core/supabase/supabase.service.ts
  package.json
  yarn.lock
Labels: Feedback Discussion, App: Dashboard

#260 Chore/climate api updates
  .prettierignore
  apps/picsa-apps/dashboard/src/app/modules/climate/types/api.d.ts
Labels: App: Dashboard

#262 refactor(dashboard): crop info pages
  apps/picsa-apps/dashboard/src/app/app.routes.ts
  apps/picsa-apps/dashboard/src/app/data/navLinks.ts
  apps/picsa-apps/dashboard/src/app/material.module.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/crop-information.module.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/new_entry/new_entry.component.html
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/new_entry/new_entry.component.scss
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/new_entry/new_entry.page.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/probability/probability.component.html
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/probability/probability.component.scss
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/probability/probability.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/probability/probability.component.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/variety-details.component.html
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/variety-details.component.scss
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/variety-details.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/variety-details.component.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety/variety.component.html
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety/variety.component.scss
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety/variety.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety/variety.component.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/services/crop-information.service.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/services/index.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/deployment-item/deployment-item.component.html
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/deployment-item/deployment-item.component.scss
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/deployment-item/deployment-item.component.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/deployment-select/deployment-select.component.html
  apps/picsa-apps/dashboard/src/app/modules/deployment/components/deployment-select/deployment-select.component.scss
  apps/picsa-server/scripts/data-migrate.quokka.ts
  apps/picsa-server/scripts/data-migrations/.gitignore
  apps/picsa-server/scripts/data-migrations/README.md
  apps/picsa-server/scripts/data-migrations/example.quokka.ts
  apps/picsa-server/scripts/data-migrations/station-data-migrate.ts
  apps/picsa-server/scripts/data-migrations/station-data.ts
  apps/picsa-server/supabase/data/crop_data_rows.csv
  apps/picsa-server/supabase/data/deployments_rows.csv
  apps/picsa-server/supabase/data/storage/global/images/tutorial.svg
  apps/picsa-server/supabase/migrations/20240408230716_crop_data_edit.sql
  apps/picsa-server/supabase/types/index.ts
  libs/forms/components/base/select-multiple.ts
  libs/forms/components/base/select.ts
  libs/forms/components/crop-select/crop-select.component.html
  libs/forms/components/crop-select/crop-select.component.scss
  libs/forms/components/crop-select/crop-select.component.ts
  libs/i18n/src/generate.ts
Labels: App: Dashboard

#265 feat(resources-tool): multiple file download and size display
  apps/picsa-tools/resources-tool/src/app/components/components.module.ts
  apps/picsa-tools/resources-tool/src/app/components/resource-download-multiple/resource-download-multiple.component.html
  apps/picsa-tools/resources-tool/src/app/components/resource-download-multiple/resource-download-multiple.component.scss
  apps/picsa-tools/resources-tool/src/app/components/resource-download-multiple/resource-download-multiple.component.spec.ts
  apps/picsa-tools/resources-tool/src/app/components/resource-download-multiple/resource-download-multiple.component.ts
  apps/picsa-tools/resources-tool/src/app/components/resource-download/resource-download.component.html
  apps/picsa-tools/resources-tool/src/app/components/resource-download/resource-download.component.scss
  apps/picsa-tools/resources-tool/src/app/components/resource-download/resource-download.component.ts
  apps/picsa-tools/resources-tool/src/app/components/resource-item/file/file.html
  apps/picsa-tools/resources-tool/src/app/components/resource-item/file/file.scss
  apps/picsa-tools/resources-tool/src/app/pages/collection/collection.component.html
  apps/picsa-tools/resources-tool/src/app/pages/collection/collection.component.ts
  apps/picsa-tools/resources-tool/src/app/pages/collection/collection.module.ts
  apps/picsa-tools/resources-tool/src/app/pages/downloads/downloads.page.html
  apps/picsa-tools/resources-tool/src/app/pages/downloads/downloads.page.ts
  apps/picsa-tools/resources-tool/src/app/services/resources-tool.service.ts
  libs/shared/src/pipes/sizeMB.ts
  yarn.lock
Labels: Tool: Resources, feature
