Repository e-picsa/picsa-apps, pull requests merged in 2025-03, with the labels that each got.

#365 Fix: native build and web deployment
  apps/picsa-apps/extension-app-native/android/.gitignore
  apps/picsa-apps/extension-app-native/android/app/build.gradle
  apps/picsa-apps/extension-app-native/android/app/src/main/AndroidManifest.xml
  apps/picsa-apps/extension-app-native/android/app/src/main/java/io/picsa/extension/MainActivity.java
  apps/picsa-apps/extension-app-native/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  apps/picsa-apps/extension-app-native/android/build.gradle
  apps/picsa-apps/extension-app-native/android/gradle.properties
  apps/picsa-apps/extension-app-native/android/gradle/wrapper/gradle-wrapper.jar
  apps/picsa-apps/extension-app-native/android/gradle/wrapper/gradle-wrapper.properties
  apps/picsa-apps/extension-app-native/android/gradlew
  apps/picsa-apps/extension-app-native/android/gradlew.bat
  apps/picsa-apps/extension-app-native/capacitor.config.ts
  apps/picsa-apps/extension-app-native/package.json
  apps/picsa-apps/extension-app/project.json
  apps/picsa-apps/extension-app/src/assets/compatibility.js
  apps/picsa-tools/forecasts-tool/src/app/components/forecast-viewer/forecast-viewer.component.html
  apps/picsa-tools/manual-tool/project.json
  apps/picsa-tools/manual-tool/src/app/pages/home/home.component.ts
  apps/picsa-tools/resources-tool/src/app/components/resource-item/file/file.ts
  apps/picsa-tools/resources-tool/src/app/services/resources-tool.service.ts
  libs/environments/src/version.ts
  libs/i18n/assets/debug.json
  libs/i18n/assets/global_en.json
  libs/i18n/assets/ke_sw.json
  libs/i18n/assets/mw_ny.json
  libs/i18n/assets/tj_tg.json
  libs/i18n/assets/zm_ny.json
  libs/i18n/templates/_template.csv
  libs/i18n/templates/_template.json
  libs/shared/src/features/pdf-viewer/pdf-viewer.component.html
  libs/shared/src/features/pdf-viewer/pdf-viewer.component.ts
  libs/shared/src/features/pdf-viewer/pdf-viewer.service.ts
  libs/shared/src/services/asyncService.service.ts
  libs/shared/src/services/core/db_v2/db-attachment.service.ts
  libs/shared/src/services/core/db_v2/db.service.ts
  package.json
  yarn.lock
Labels: Tool: Manual, fix

#357 Feat: show play update prompt
  apps/picsa-apps/extension-app-native/android/app/build.gradle
  apps/picsa-apps/extension-app/src/app/app.component.ts
  libs/environments/src/version.ts
  libs/shared/src/services/native/app-update.ts
  libs/shared/src/services/native/index.ts
  package.json
  yarn.lock
Labels: ready for review, App: Extension

#318 Feat Enable Password Reset
  apps/picsa-apps/dashboard/src/app/modules/climate/components/api-status/api-status.html
  apps/picsa-apps/dashboard/src/app/modules/error-handler.ts
  apps/picsa-apps/dashboard/src/app/modules/profile/components/sign-in-dialog/sign-in-dialog.component.html
  apps/picsa-apps/dashboard/src/app/modules/profile/components/sign-in-dialog/sign-in-dialog.component.scss
  apps/picsa-apps/dashboard/src/app/modules/profile/components/sign-in-dialog/sign-in-dialog.component.ts
  apps/picsa-apps/dashboard/src/app/modules/profile/pages/password-reset/password-reset.component.html
  apps/picsa-apps/dashboard/src/app/modules/profile/pages/password-reset/password-reset.component.scss
  apps/picsa-apps/dashboard/src/app/modules/profile/pages/password-reset/password-reset.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/profile/pages/password-reset/password-reset.component.ts
  apps/picsa-apps/dashboard/src/app/modules/profile/profile.module.ts
  libs/shared/src/services/core/supabase/services/supabase-auth.service.ts
Labels: App: Dashboard
