Repository e-picsa/picsa-apps, pull requests merged in 2025-07, with the labels that each got.

#416 fix: dev seed data
  apps/picsa-server/supabase/data/climate_stations_rows.csv
Labels: fix

#414 feat-server remove outdated forecasts monthly
  apps/picsa-server/supabase/functions/dashboard/forecast-cleanup.ts
  apps/picsa-server/supabase/functions/dashboard/index.ts
  apps/picsa-server/supabase/migrations/20250706100000_forecast_cleanup_cron.sql
Labels: ready for review, App: Dashboard

#419 chore: update translations
  libs/i18n/assets/debug.json
  libs/i18n/assets/global_en.json
  libs/i18n/assets/ke_sw.json
  libs/i18n/assets/mw_ny.json
  libs/i18n/assets/tj_tg.json
  libs/i18n/assets/zm_ny.json
  libs/i18n/templates/_template.csv
  libs/i18n/templates/_template.json
Labels: maintenance

#420 chore: update capacitor 7
  .yarn/patches/capacitor-video-player-npm-6.0.0-21971dba2f.patch
  apps/picsa-apps/app-native/android/app/capacitor.build.gradle
  apps/picsa-apps/app-native/android/app/src/main/AndroidManifest.xml
  apps/picsa-apps/app-native/android/build.gradle
  apps/picsa-apps/app-native/android/gradle/wrapper/gradle-wrapper.jar
  apps/picsa-apps/app-native/android/gradle/wrapper/gradle-wrapper.properties
  apps/picsa-apps/app-native/android/gradlew
  apps/picsa-apps/app-native/android/gradlew.bat
  apps/picsa-apps/app-native/android/variables.gradle
  libs/shared/src/features/video-player/player/video-player.native.ts
  libs/shared/src/services/native/storage-service.ts
  package.json
  yarn.lock
Labels: maintenance

#421 Fix: android release workflow
  .github/workflows/android-release.yml
  apps/picsa-tools/monitoring-tool/src/app/models/strings.ts
  libs/i18n/assets/debug.json
  libs/i18n/assets/global_en.json
  libs/i18n/assets/ke_sw.json
  libs/i18n/assets/mw_ny.json
  libs/i18n/assets/tj_tg.json
  libs/i18n/assets/zm_ny.json
  libs/i18n/templates/_template.csv
  libs/i18n/templates/_template.json
Labels: Tool: Monitoring, fix

#422 Chore: android style updates
  apps/picsa-apps/app-native/android/app/build.gradle
  apps/picsa-apps/app-native/android/app/capacitor.build.gradle
  apps/picsa-apps/app-native/android/app/src/main/res/drawable/picsa_splash_static.xml
  apps/picsa-apps/app-native/android/app/src/main/res/values-v31/styles.xml
  apps/picsa-apps/app-native/android/app/src/main/res/values-v35/styles.xml
  apps/picsa-apps/app-native/android/app/src/main/res/values/styles.xml
  apps/picsa-apps/app-native/android/app/src/main/res/values/themes.xml
  apps/picsa-apps/app-native/android/capacitor.settings.gradle
  apps/picsa-apps/app-native/capacitor.config.ts
  apps/picsa-apps/app/src/index.html
  libs/configuration/src/provider.ts
  libs/environments/src/version.ts
  package.json
  yarn.lock
Labels: maintenance

#424 Feat(dashboard): translations xlsx import
  apps/picsa-apps/app-native/android/app/build.gradle
  apps/picsa-apps/dashboard/src/app/modules/deployment/deployment.service.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/components/xlsx-import/xlsx-import.component.html
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/components/xlsx-import/xlsx-import.component.scss
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/components/xlsx-import/xlsx-import.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/components/xlsx-import/xlsx-import.component.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/translations-import.component.html
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/translations-import.component.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/translations.service.ts
  apps/picsa-server/supabase/migrations/20250723082700_translation_update.sql
  libs/environments/src/version.ts
  libs/utils/index.ts
  libs/utils/xlsx.ts
  package.json
  yarn.lock
Labels: App: Dashboard, feature

#429 feat: xlsx template export
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/components/xlsx-import/xlsx-import.component.html
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/components/xlsx-import/xlsx-import.component.ts
  libs/utils/xlsx.ts
Labels: App: Dashboard, feature

#430 fix: download progress spinner
  apps/picsa-tools/resources-tool/src/app/components/resource-download/resource-download.component.html
Labels: Tool: Resources, fix

#433 Feat(budget tool): summary column and core improvements
  apps/picsa-tools/budget-tool/src/app/app-routing.module.ts
  apps/picsa-tools/budget-tool/src/app/components/budget-summary/budget-summary.component.html
  apps/picsa-tools/budget-tool/src/app/components/budget-summary/budget-summary.component.ts
  apps/picsa-tools/budget-tool/src/app/components/budget-tool.components.ts
  apps/picsa-tools/budget-tool/src/app/components/card/card-new/card-new.ts
  apps/picsa-tools/budget-tool/src/app/components/list-item/budget-list-item.html
  apps/picsa-tools/budget-tool/src/app/components/list-item/budget-list-item.ts
  apps/picsa-tools/budget-tool/src/app/components/summary/period-summary.html
  apps/picsa-tools/budget-tool/src/app/components/summary/period-summary.scss
  apps/picsa-tools/budget-tool/src/app/components/summary/period-summary.ts
  apps/picsa-tools/budget-tool/src/app/components/table/budget-table.html
  apps/picsa-tools/budget-tool/src/app/components/table/budget-table.scss
  apps/picsa-tools/budget-tool/src/app/data/cards/enterprises.ts
  apps/picsa-tools/budget-tool/src/app/data/cards/index.ts
  apps/picsa-tools/budget-tool/src/app/pages/create/budget-create.module.ts
  apps/picsa-tools/budget-tool/src/app/pages/create/budget-create.page.html
  apps/picsa-tools/budget-tool/src/app/pages/create/budget-create.page.scss
  apps/picsa-tools/budget-tool/src/app/pages/create/budget-create.page.ts
  apps/picsa-tools/budget-tool/src/app/pages/home/budget-home.module.ts
  apps/picsa-tools/budget-tool/src/app/pages/home/budget-home.page.html
  apps/picsa-tools/budget-tool/src/app/pages/home/budget-home.page.ts
  apps/picsa-tools/budget-tool/src/app/pages/home/list-item/budget-list-item.html
  apps/picsa-tools/budget-tool/src/app/pages/home/list-item/budget-list-item.scss
  apps/picsa-tools/budget-tool/src/app/pages/home/list-item/budget-list-item.ts
  apps/picsa-tools/budget-tool/src/app/pages/view/budget-view.page.scss
  apps/picsa-tools/budget-tool/src/app/schema/cards/common.ts
  apps/picsa-tools/budget-tool/src/app/schema/cards/schema_v1.ts
  apps/picsa-tools/budget-tool/src/app/store/budget-card.service.ts
  apps/picsa-tools/budget-tool/src/app/store/budget.service.ts
  apps/picsa-tools/budget-tool/src/app/store/budget.store.ts
  apps/picsa-tools/budget-tool/src/assets/budget-cards/livelihood.svg
  apps/picsa-tools/budget-tool/src/styles.scss
  apps/picsa-tools/option-tool/src/app/components/editor/editor.component.scss
  libs/theme/src/_overrides.scss
Labels: Tool: Option, Tool: Budget, feature

#436 fix: nx linting
  .eslintrc.json
  apps/picsa-apps/app-native/android/app/build.gradle
  apps/picsa-apps/dashboard/src/app/modules/admin/pages/user-permissions/user-permissions.component.ts
  apps/picsa-apps/dashboard/src/app/modules/auth/directives/authRoleRequired.directive.ts
  apps/picsa-apps/dashboard/src/app/modules/auth/services/auth.service.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/climate-api.mapping.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/climate.service.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/admin/admin.component.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station-details/components/data-summary/data-summary.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station-details/station-details.component.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/station/station.component.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/probability/downscaled/components/linked-station-select/linked-station-select.component.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/probability/downscaled/probability-downscaled.component.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/services/crop-information.service.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/deployment.service.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/monitoring.service.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/components/csv-import/csv-import.component.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/pages/import/components/xlsx-import/xlsx-import.component.ts
  apps/picsa-apps/dashboard/src/app/modules/translations/translations.service.ts
  apps/picsa-tools/budget-tool/src/app/pages/view/budget-view.page.ts
  apps/picsa-tools/climate-tool/src/app/services/climate-chart.service.ts
  apps/picsa-tools/extension-content/src/app/pages/home/extension-home.component.ts
  libs/environments/src/version.ts
  libs/shared/.eslintrc.json
  libs/shared/src/features/audio-playback/audio-playback.component.spec.ts
  libs/shared/src/features/audio-playback/audio-playback.component.ts
  libs/shared/src/services/core/db_v2/migration/rxdb-14.migration.ts
  libs/shared/src/services/core/firebase.service.ts
  libs/shared/src/services/core/supabase/supabase.service.ts
  libs/shared/src/services/core/tour/index.ts
  libs/shared/src/services/core/tour/tour.service.ts
  libs/shared/src/services/core/tour/tour.types.ts
  package.json
Labels: Tool: Climate, Tool: Budget, App: Dashboard, fix, App: Extension

#434 feat(climate): Station select list and map views
  apps/picsa-tools/climate-tool/src/app/app-routing.module.ts
  apps/picsa-tools/climate-tool/src/app/data/stations/mw.ts
  apps/picsa-tools/climate-tool/src/app/pages/site-select/site-select.module.ts
  apps/picsa-tools/climate-tool/src/app/pages/site-select/site-select.page.html
  apps/picsa-tools/climate-tool/src/app/pages/site-select/site-select.page.scss
  apps/picsa-tools/climate-tool/src/app/pages/site-select/site-select.page.ts
  libs/shared/src/features/map/map.scss
  libs/shared/src/features/map/map.ts
Labels: Tool: Climate, feature
