Repository e-picsa/picsa-apps, pull requests merged in 2025-01, with the labels that each got.

#327 feat: add forecast updater for climate forecast refresh
  apps/picsa-server/supabase/functions/climate-refresh/forecastUpdater.ts
  apps/picsa-server/supabase/functions/deno.lock
Labels: ready for review, App: Dashboard, feature

#354 Feat: forecasts server
  .husky/pre-commit
  apps/picsa-apps/dashboard/src/app/modules/climate/climate-api.mapping.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/climate-api.service.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/climate.service.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/components/api-status/api-status.html
  apps/picsa-apps/dashboard/src/app/modules/climate/components/api-status/api-status.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/forecast/forecast.component.html
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/forecast/forecast.component.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/forecast/month-select/month-select.component.html
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/forecast/month-select/month-select.component.scss
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/forecast/month-select/month-select.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/forecast/month-select/month-select.component.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/types/api.d.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/types/db.d.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety/variety.component.ts
  apps/picsa-apps/dashboard/src/styles.scss
  apps/picsa-apps/dashboard/tailwind.config.js
  apps/picsa-server/supabase/functions/.env.example
  apps/picsa-server/supabase/functions/_shared/client.ts
  apps/picsa-server/supabase/functions/_shared/request.ts
  apps/picsa-server/supabase/functions/_shared/response.ts
  apps/picsa-server/supabase/functions/dashboard/climate-forecast-update.ts
  apps/picsa-server/supabase/functions/dashboard/index.ts
  apps/picsa-server/supabase/functions/deno.lock
  apps/picsa-server/supabase/functions/import_map.json
  apps/picsa-server/supabase/migrations/20250115161100_climate_forecasts_update.sql
  apps/picsa-server/supabase/types/README.md
  apps/picsa-server/supabase/types/index.ts
  libs/components/src/components/index.ts
  libs/components/src/components/refresh-spinner/refresh-spinner.component.html
  libs/components/src/components/refresh-spinner/refresh-spinner.component.scss
  libs/components/src/components/refresh-spinner/refresh-spinner.component.spec.ts
  libs/components/src/components/refresh-spinner/refresh-spinner.component.ts
  libs/shared/src/services/core/db_v2/db-sync.service.ts
  libs/shared/src/services/core/supabase/services/supabase-storage.service.ts
  libs/shared/src/services/core/supabase/supabase.service.ts
  package.json
Labels: App: Dashboard, feature

#353 feat(android): add push notifications service
  apps/picsa-apps/extension-app-native/android/.idea/.gitignore
  apps/picsa-apps/extension-app-native/android/.idea/compiler.xml
  apps/picsa-apps/extension-app-native/android/.idea/jarRepositories.xml
  apps/picsa-apps/extension-app-native/android/.idea/misc.xml
  apps/picsa-apps/extension-app-native/android/app/capacitor.build.gradle
  apps/picsa-apps/extension-app-native/android/capacitor.settings.gradle
  apps/picsa-apps/extension-app-native/android/gradle/wrapper/gradle-wrapper.properties
  apps/picsa-apps/extension-app-native/capacitor.config.ts
  apps/picsa-apps/extension-app/src/app/app.component.ts
  libs/shared/src/services/core/push-notifications.service.ts
  package.json
  yarn.lock
Labels: ready for review, feature, App: Extension
