Repository e-picsa/picsa-apps, pull requests merged in 2025-06, with the labels that each got.

#403 fix: web portrait videos
  libs/shared/src/features/video-player/player/video-player.web.ts
Labels: fix

#290 Farmer app audio support
  libs/shared/src/features/audio-playback/audio-playback.component.html
  libs/shared/src/features/audio-playback/audio-playback.component.scss
  libs/shared/src/features/audio-playback/audio-playback.component.spec.ts
  libs/shared/src/features/audio-playback/audio-playback.component.ts
  libs/shared/src/features/audio-playback/audio-playback.service.ts
  libs/shared/src/features/audio-playback/index.ts
  libs/shared/src/features/index.ts
  libs/theme/src/themes/_mixins.scss
Labels: App: Farmer

#328 feat: Password Protected Forms
  apps/picsa-tools/monitoring-tool/data/forms/ew-monitoring-test.form.ts
  apps/picsa-tools/monitoring-tool/data/forms/index.ts
  apps/picsa-tools/monitoring-tool/src/app/components/access-code-dialog/access-code-dialog.component.html
  apps/picsa-tools/monitoring-tool/src/app/components/access-code-dialog/access-code-dialog.component.scss
  apps/picsa-tools/monitoring-tool/src/app/components/access-code-dialog/access-code-dialog.component.ts
  apps/picsa-tools/monitoring-tool/src/app/components/form-item/form-item.component.html
  apps/picsa-tools/monitoring-tool/src/app/components/form-item/form-item.component.scss
  apps/picsa-tools/monitoring-tool/src/app/components/form-item/form-item.component.ts
  apps/picsa-tools/monitoring-tool/src/app/components/material.module.ts
  apps/picsa-tools/monitoring-tool/src/app/components/monitoring-tool-components.module.ts
  apps/picsa-tools/monitoring-tool/src/app/models/index.ts
  apps/picsa-tools/monitoring-tool/src/app/models/strings.ts
  apps/picsa-tools/monitoring-tool/src/app/pages/form/form-view/form-view.component.html
  apps/picsa-tools/monitoring-tool/src/app/pages/form/form-view/form-view.component.scss
  apps/picsa-tools/monitoring-tool/src/app/pages/form/form-view/form-view.component.ts
  apps/picsa-tools/monitoring-tool/src/app/pages/form/form.module.ts
  apps/picsa-tools/monitoring-tool/src/app/pages/form/submission-list/submission-list.component.html
  apps/picsa-tools/monitoring-tool/src/app/pages/form/submission-list/submission-list.component.scss
  apps/picsa-tools/monitoring-tool/src/app/pages/form/submission-list/submission-list.component.ts
  apps/picsa-tools/monitoring-tool/src/app/pages/home/home.component.html
  apps/picsa-tools/monitoring-tool/src/app/pages/home/home.component.ts
  apps/picsa-tools/monitoring-tool/src/app/schema/forms/index.ts
  apps/picsa-tools/monitoring-tool/src/app/schema/forms/schema_V4.ts
  apps/picsa-tools/monitoring-tool/src/app/services/monitoring-tool.service.ts
Labels: ready for review, Tool: Monitoring, feature

#399 feat(video-player): Save video thumbnails to rxdb
  libs/shared/src/features/video-player/schema/index.ts
  libs/shared/src/features/video-player/schema/schema_v1.ts
  libs/shared/src/features/video-player/video-player.component.html
  libs/shared/src/features/video-player/video-player.service.ts
  libs/shared/src/features/video-player/video-thumbnail/video-thumbnail.component.ts
Labels: App: Farmer

#406 Chore(climate): data update
  apps/picsa-apps/dashboard/src/app/data/index.ts
  apps/picsa-apps/extension-app-native/android/app/build.gradle
  apps/picsa-tools/climate-tool/src/app/components/climate-chart-options/climate-chart-options.component.html
  apps/picsa-tools/climate-tool/src/app/components/view-select/view-select.html
  apps/picsa-tools/climate-tool/src/app/components/view-select/view-select.scss
  apps/picsa-tools/climate-tool/src/app/components/view-select/view-select.ts
  apps/picsa-tools/climate-tool/src/app/utils/chart.utils.ts
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/chinsali_ftc.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/chipata_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/chipepo_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/choma_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/isoka_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/kabompo_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/kabwe_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/kafironda_agromet.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/kafue_polder.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/kalabo_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/kaoma_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/kasama_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/kasempa_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/kawambwa_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/livingstone_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/lundazi_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/lusaka_city_airpor.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/lusaka_int__airpor.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/magoye_agromet.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/mansa_agro.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/mansa_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/mbala_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/mfuwe_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/misamfu_agromet.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/mkushi_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/mongu_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/mpika_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/mpulungu_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/msekera_agromet.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/mt__makulu_agrome.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/mumbwa_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/ndola_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/petauke_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/samfya_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/senanga_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/serenje_agro_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/sesheke_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/simon_mwansa_kapwepwe.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/solwezi_met.csv
  apps/picsa-tools/climate-tool/src/assets/summaries/zm/zambezi_met.csv
  libs/data/climate/chart_definitions/default.ts
  libs/environments/src/version.ts
  libs/models/src/climate.models.ts
  package.json
Labels: Tool: Climate, App: Dashboard, maintenance

#407 Feat(climate) temp charts min max and improved share image
  apps/picsa-apps/extension-app-native/android/app/build.gradle
  apps/picsa-tools/climate-tool/src/app/components/chart-layout/chart-layout.ts
  apps/picsa-tools/climate-tool/src/app/components/chart-tools/crop-analysis/crop-analysis.ts
  apps/picsa-tools/climate-tool/src/app/components/climate-tool-components.module.ts
  apps/picsa-tools/climate-tool/src/app/components/print-layout/print-layout.component.html
  apps/picsa-tools/climate-tool/src/app/components/print-layout/print-layout.component.ts
  apps/picsa-tools/climate-tool/src/app/pages/site-view/site-view.page.html
  apps/picsa-tools/climate-tool/src/app/services/climate-chart.service.ts
  apps/picsa-tools/climate-tool/src/app/utils/chart.utils.ts
  apps/picsa-tools/climate-tool/src/assets/climate-icons/temp_max.svg
  apps/picsa-tools/climate-tool/src/assets/climate-icons/temp_min.svg
  libs/data/climate/chart_definitions/default.ts
  libs/models/src/climate.models.ts
  libs/shared/src/services/native/print.ts
  package.json
  yarn.lock
Labels: Tool: Climate
