Repository e-picsa/picsa-apps, pull requests merged in 2025-04, with the labels that each got.

#375 fix: budget tool cards
  .eslintrc.json
  apps/picsa-tools/budget-tool/src/app/components/budget-tool.components.ts
  apps/picsa-tools/budget-tool/src/app/data/cards.ts
  libs/shared/src/modules/translate/translate.module.ts
Labels: Tool: Budget, fix

#368 Feat/crop probability dashboard
  apps/picsa-apps/dashboard/src/app/app.component.ts
  apps/picsa-apps/dashboard/src/app/components/data-import/adaptors/clipboard-paste.component.ts
  apps/picsa-apps/dashboard/src/app/components/data-import/adaptors/file-drop.component.ts
  apps/picsa-apps/dashboard/src/app/components/data-import/data-import.component.html
  apps/picsa-apps/dashboard/src/app/components/data-import/data-import.component.scss
  apps/picsa-apps/dashboard/src/app/components/data-import/data-import.component.spec.ts
  apps/picsa-apps/dashboard/src/app/components/data-import/data-import.component.ts
  apps/picsa-apps/dashboard/src/app/components/index.ts
  apps/picsa-apps/dashboard/src/app/data/navLinks.ts
  apps/picsa-apps/dashboard/src/app/material.module.ts
  apps/picsa-apps/dashboard/src/app/modules/climate/pages/forecast/forecast.component.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/crop-information.module.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/admin/admin.component.html
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/admin/admin.component.scss
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/admin/admin.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/admin/admin.component.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/probability/probability.component.html
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/probability/probability.component.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/components/variety-form/variety-form.component.html
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/components/variety-form/variety-form.component.scss
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/components/variety-form/variety-form.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/components/variety-form/variety-form.component.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/components/water-requirements/water-requirements.component.html
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/components/water-requirements/water-requirements.component.scss
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/components/water-requirements/water-requirements.component.spec.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/components/water-requirements/water-requirements.component.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/variety-details.component.html
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/variety-details.component.scss
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety-details/variety-details.component.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety/variety.component.html
  apps/picsa-apps/dashboard/src/app/modules/crop-information/pages/variety/variety.component.ts
  apps/picsa-apps/dashboard/src/app/modules/crop-information/services/crop-information.service.ts
  apps/picsa-apps/dashboard/src/app/modules/deployment/deployment.service.ts
  apps/picsa-apps/dashboard/src/app/modules/monitoring/pages/update/update-monitoring-forms.component.ts
  apps/picsa-apps/dashboard/src/app/modules/resources/pages/files/edit/resource-file-edit.component.ts
  apps/picsa-server/scripts/climate-data-parser/src/index.ts
  apps/picsa-server/scripts/utils.ts
  apps/picsa-server/supabase/data/crop_data_downscaled_rows.csv
  apps/picsa-server/supabase/data/crop_data_rows.csv
  apps/picsa-server/supabase/migrations/20250310070000_crop_data_downscaled.sql
  apps/picsa-server/supabase/types/db.types.ts
  libs/data/geoLocation/zm/districts.ts
  libs/forms/forms.module.ts
  libs/forms/validators/index.ts
  libs/forms/validators/minMax.ts
  libs/i18n/src/generate.ts
  libs/shared/src/features/data-table/data-table.component.html
  libs/shared/src/features/data-table/data-table.component.ts
  libs/shared/src/services/asyncService.service.ts
  libs/theme/src/_overrides.scss
  libs/utils/data.ts
  libs/utils/object.utils.ts
Labels: App: Dashboard

#384 chore: db seed data column omit
  apps/picsa-server/project.json
  apps/picsa-server/scripts/db-seed/db-seed.config.ts
  apps/picsa-server/scripts/db-seed/db-seed.ts
  apps/picsa-server/supabase/data/crop_data_downscaled_rows.csv
  apps/picsa-server/tsconfig.json
Labels: maintenance

#369 Feat: enable video thumbnails
  apps/picsa-tools/resources-tool/src/app/components/resource-item/file/file.html
  apps/picsa-tools/resources-tool/src/app/components/resource-item/file/file.scss
  apps/picsa-tools/resources-tool/src/app/components/resource-item/file/file.ts
  apps/picsa-tools/resources-tool/src/app/components/resource-item/video.ts
  libs/shared/src/features/video-player/index.ts
  libs/shared/src/features/video-player/video-player.component.html
  libs/shared/src/features/video-player/video-player.component.ts
  libs/shared/src/features/video-player/video-player.service.ts
  libs/shared/src/features/video-player/video-thumbnail/video-thumbnail.component.html
  libs/shared/src/features/video-player/video-thumbnail/video-thumbnail.component.scss
  libs/shared/src/features/video-player/video-thumbnail/video-thumbnail.component.spec.ts
  libs/shared/src/features/video-player/video-thumbnail/video-thumbnail.component.ts
Labels: Tool: Resources, feature
